<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">

</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/admin/assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-products-list.html">Product List</a>
                        <a href="page-products-grid.html">Product grid</a>
                        <a href="page-products-grid-2.html">Product grid 2</a>
                        <a href="page-categories.html">Categories</a>
                    </div> -->
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-orders-1.html">Order list 1</a>
                        <a href="page-orders-2.html">Order list 2</a>
                        <a href="page-orders-detail.html">Order detail</a>
                        <a href="page-orders-tracking.html">Order tracking</a>
<a href="page-invoice.html">Invoice</a>
                    </div> -->
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/userslist"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div> -->
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-form-product-1.html" class="active">Add product 1</a>
                        <a href="page-form-product-2.html">Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div> -->
                </li>
                <li class="menu-item">
                    <!-- <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a> -->
                    <!-- <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                        <a href="page-transactions-details.html">Transaction Details</a>
                    </div> -->
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-person"></i>
                        <span class="text">Categories</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div> -->
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Coupons</span> </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="/admin/offer"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
                
                <li class="menu-item "><a class="menu-link" href="/admin/statistics"><i class="icon material-icons md-pie_chart"></i><span class="text">Statistics</span></a></li>

            </ul>
            <hr>
            <ul class="menu-aside">
                <!-- <li class="menu-item">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a> -->
                    <!-- <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div> -->
                </li>
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li> -->
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/admin/assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/admin/assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/admin/assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/admin/assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/admin/assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <!-- <div>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            <button class="btn btn-md rounded font-sm hover-up">Publish</button>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Enter the details of Products</h4>
                            <%if(message)%>
                            <p class="text-success"><%=message%></p>
                        </div>
                        <div class="card-body">
                            <form  method="post" action="/admin/addproducts" enctype="multipart/form-data" onsubmit="return validateForm()">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product Name</label>
                                    <input type="text" name="name" placeholder="Type here" class="form-control" id="product_name" onfocusout="validateProductName()">
                                    <div id="productname-error" class="text-danger"></div>

                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" name="description" class="form-control" rows="4" id="description" onfocusout="validateDescription()"></textarea>
                                    <div id="description-error" class="text-danger"></div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Price</label>
                                            <div class="row gx-2">
                                                <input placeholder="$" name="price" type="number" class="form-control" id="price" onfocusout="validatePrice()">
                                                <div id="price-error" class="text-danger"></div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Promotional price</label>
                                            <input placeholder="$" name="promoPrice" type="number" class="form-control" id="promoprice" onfocusout="validatePromoPrice()">
                                            <div id="promoprice-error" class="text-danger"></div>

                                        </div>
                                    </div>

                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Category</label>
                                        
                                        <select class="form-select" name="category">
                                            <%categories.forEach(category =>{%>
                                           
                                            <option value="<%=category._id%>" ><%=category.name%></option>
                                            <%})%>
                                            <!-- <option> Automobiles </option>
                                            <option> Home items </option>
                                            <option> Electronics </option>
                                            <option> Smartphones </option>
                                            <option> Sport items </option>
                                            <option> Baby and Tous </option> -->
                                        </select>
                                    </div>
                                    <!-- <div class="col-lg-4">
                                        <label class="form-label">Currency</label>
                                        <select class="form-select">
                                            <option> USD </option>
                                            <option> EUR </option>
                                            <option> RUBL </option>
                                        </select>
                                    </div> -->
                                </div>
                                <!-- <div class="mb-4">
                                    <label class="form-label">Tax rate</label>
                                    <input type="text" placeholder="%" class="form-control" id="product_name">
                                </div> -->
                                <!-- <label class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label"> Make a template </span>
                                </label> -->


                                <!-- <% if(categories !== null) {%>
                                <label class="form-label" for="category">Category:</label>
                                <select name="category"  id="category" required>
                                    <% categories.forEach(category => { %>
                                    <option value="<%= category._id %>"><%= category.name %></option>
                                    <% }) %>
                                    <%} else {%>

                                        <p>No Categories</p>
                                        <%}%> -->


                                        <br>
                                        <!-- <div class="input-upload">
                                    <label class="form-label" for="images">Images:</label>
                                    <img id="product_img_preview" src="#" alt="Image Preview" style="display: none; width: 100%; margin-top: 10px;">
                                    <input class="form-control" type="file" accept=".jpg, .jpeg, .png, .heic" id="images" name="images" multiple>
                                      </div> -->


                                      <label class="form-label" for="images">Images:</label>
                                      
                                      <!-- <div class="input-upload">
                                        <% for(let i=0; i < 5;i++){%>
                                          <div id="image-previews" style="margin-top: 10px;"></div>
                                        <input class="form-control" type="file" accept=".jpg, .jpeg, .png, .heic" id="images" name="images" onchange="validateImageCount(this)">
                                        <%}%>
                                    </div> -->


                                    <% for(let i=0;i < 5;i++) {%>
                                         <div class="input-upload">
                                           
                                            <div class="image-preview mt-3" id="imagePreviewContainer<%= i %>"></div>
                                            <input class="form-control mb-2" type="file" name="images" accept=".jpg, .jpeg, .png, .heic" id="imageInput<%= i %>" onchange="handleFileChange(event, `<%= i %>`)">
                                            <div class="crop-container" id="cropContainer<%= i %>" style="display: none;">
                                                <img id="cropImage<%= i %>" class="img-m img-thumbnail" >
                                                <button type="button" class="btn btn-sm btn-primary mt-2" onclick="cropImage(`<%= i %>`)">Crop</button>
                                            </div>
                                        </div>
                                
                                            


                                        <%}%>
                                       
                                    <br>


                                    <h2>Sizes</h2>
                                    <% for (let size of ['XS', 'S', 'M', 'L', 'XL']) { %>
                                        <div>
                                            <label class="form-label" for="size-<%= size %>"><%= size %>:</label>
                                            <input class="form-control" type="number" id="size-<%= size %>" name="sizes[<%= size %>][stock]" min="0" value="0">
                                        </div>
                                    <% } %>
                                        <br>
                                    <button class="btn btn-fill-out btn-block hover-up btn-primary" type="submit" name="submit" >Add Product</button>
                                <!-- </select> -->
                            </form>
                        </div>
                    </div> <!-- card end// -->
                    <!-- <div class="card mb-4">
                        <div class="card-header">
                            <h4>Shipping</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label for="product_name" class="form-label">Width</label>
                                            <input type="text" placeholder="inch" class="form-control" id="product_name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label for="product_name" class="form-label">Height</label>
                                            <input type="text" placeholder="inch" class="form-control" id="product_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Weight</label>
                                    <input type="text" placeholder="gam" class="form-control" id="product_name">
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Shipping fees</label>
                                    <input type="text" placeholder="$" class="form-control" id="product_name">
                                </div>
                            </form>
                        </div>
                    </div>  card end// --
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <img src="/admin/assets/imgs/theme/upload.svg" alt="">
                                <input class="form-control" type="file">
                            </div>
                        </div>
                    </div> card end// --
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Organization</h4>
                        </div>
                        <div class="card-body">
                            <div class="row gx-2">
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Category</label>
                                    <select class="form-select">
                                        <option> Automobiles </option>
                                        <option> Home items </option>
                                        <option> Electronics </option>
                                        <option> Smartphones </option>
                                        <option> Sport items </option>
                                        <option> Baby and Tous </option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Sub-category</label>
                                    <select class="form-select">
                                        <option> Nissan </option>
                                        <option> Honda </option>
                                        <option> Mercedes </option>
                                        <option> Chevrolet </option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Tags</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div> <!-- row.// --
                        </div>
                    </div> <!-- card end// --
                </div>
            </div> -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Calos - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

    <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/js/vendors/select2.min.js"></script>
    <script src="/admin/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin/assets/js/main.js" type="text/javascript"></script>

   

    <script>
       
        function previewImage(input, index) {
          console.log("previewImage called with index:", index);
      
          const previewContainer = document.getElementById(`image-previews${index}`);
          previewContainer.innerHTML = '';
      
          for (const file of input.files) {
            const reader = new FileReader();
            reader.onload = function (e) {
            const img = document.createElement('img');
            img.src = e.target.result;
            img.src = e.target.result;
            img.alt = 'Image Preview';
            img.style.width = '100%';
            img.style.marginTop = '10px';
            img.style.display = 'block';
            previewContainer.appendChild(img);
            }
      
            reader.readAsDataURL(file);
          }
        }


        function validateImageCount(input) {
            if (input.files.length > 5) {
                alert("You can only upload a maximum of 5 images.");
                // Optionally clear the selected files:
                input.value = "";
            }
        }




        let cropper;
    
        function handleFileChange(event, index) {
            const input = event.target;
            const imagePreviewContainer = document.getElementById(`imagePreviewContainer${index}`);
            const cropContainer = document.getElementById(`cropContainer${index}`);
            const cropImage = document.getElementById(`cropImage${index}`);
    
            if (input.files && input.files[0]) {
                const reader = new FileReader();
    
                reader.onload = function(e) {
                    imagePreviewContainer.innerHTML = "";
                    cropImage.src = e.target.result;
                    cropContainer.style.display = "block";
    
                    if (cropper) {
                        cropper.destroy();
                    }
    
                    cropper = new Cropper(cropImage, {
                        aspectRatio: 736/1011,
                        viewMode: 1,
                        minContainerWidth: 300,
                        minContainerHeight: 300
                    });
                };
    
                reader.readAsDataURL(input.files[0]);
            } else {
                imagePreviewContainer.innerHTML = "";
                cropContainer.style.display = "none";
            }
        }
    
        function cropImage(index) {
            const canvas = cropper.getCroppedCanvas({
                width: 736,
                height: 1011
            });
    
            canvas.toBlob(function(blob) {
                const croppedImage = new File([blob], `cropped_image_${index}.jpg, { type: "image/jpeg" }`);
                const dataTransfer = new DataTransfer();
                dataTransfer.items.add(croppedImage);
                const fileInput = document.getElementById(`imageInput${index}`);
                fileInput.files = dataTransfer.files;
    
                const imagePreviewContainer = document.getElementById(`imagePreviewContainer${index}`);
                imagePreviewContainer.innerHTML = `<img src="${URL.createObjectURL(blob)}" class="img-m img-thumbnail" >`;
    
                const cropContainer = document.getElementById(`cropContainer${index}`);
                cropContainer.style.display = "none";
    
                cropper.destroy();
            });
        }
    

        function validateProductName(){
            const productname = document.getElementById('product_name').value.trim()
            const errorDiv = document.getElementById('productname-error')

            if(productname.length === 0){
                errorDiv.textContent = 'Please enter product name';
                return false;
            } else {
                errorDiv.textContent = '';
                return true;
            }
        }

        function validateDescription(){
            const description = document.getElementById('description').value
            const errorDiv = document.getElementById('description-error')

            if(description.length == ''){
                errorDiv.textContent = 'Please enter the description of the product.';
                return false;
            } else {
                errorDiv.textContent = '';
                return true;
            }
        }

        function validatePrice(){
            const price = document.getElementById('price').value
            const errorDiv = document.getElementById('price-error')

            if(price.length == ''){
                errorDiv.textContent = 'Please enter the price.';
                return false;
            } else if(price < 1){
                errorDiv.textContent = 'Price must be positive value.'
                return false;
            
            } else {
                errorDiv.textContent = '';
                return true;
            }
        }


        function validatePromoPrice(){
            const promoprice = document.getElementById('promoprice').value
            const price = document.getElementById('price').value
            const errorDiv = document.getElementById('promoprice-error')


            if(promoprice.length == ''){
                errorDiv.textContent = 'Please enter the promo-price.';
                return false;
            } else if(promoprice < 1){
                errorDiv.textContent = 'Amount must be positive value.'
                return false;
            } else if(Number(promoprice) > Number(price)){
                errorDiv.textContent = 'Promoprice should be less than or equal to price.'
                return false;
            } else {
                errorDiv.textContent = '';
                return true;
            }
        }

        function validateForm(){
            const isProductnameValid = validateProductName();
            const isDescriptionValid = validateDescription();
            const isPriceValid = validatePrice();
            const isPromoPriceValid = validatePrice();
            
            
            return isProductnameValid && isDescriptionValid && isPromoPriceValid && isPriceValid;
        }


        </script>
        


</body>

</html>